<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.eternussolutions.com/">
                        Eternus Solutions
                    </a>
                </li>
                <li>
                    <a href="https://www.eternussolutions.com/">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="https://www.eternussolutions.com/">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="https://www.eternussolutions.com/">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made by
            <a href="https://www.eternussolutions.com/" target="_blank">Eternus Solutions</a>.
        </div>
    </div>
</footer>
