<mat-dialog-content>
  <div class="card cardClass">
    <div class="card-header card-header-danger">
      <h4 class="card-title">{{channel.Channel_Name}}</h4>
      <p class="card-category">Configure Channel Details</p>
    </div>
    <div class="card-body ">
      <!-- <mat-selection-list #key>
            <mat-list-option *ngFor="let config of channelConfigurations">
              {{config.Key}}
            </mat-list-option>
          </mat-selection-list> -->
          <!-- <div class="card backgroundClass cardClass">
              <div class="card-body cardClass"> -->
                <div class="row backgroundClass roundCornder">
    
                  <div class="col-md-5 mt-2 ">
                    <mat-form-field>
                        <input [(ngModel)]="newKey" matInput placeholder="Key" >
                      </mat-form-field>
    
                  </div>
                  
                  <div class="col-md-3 mt-2 ">
                      <button (click)="addKey()" mat-raised-button color="warn">Add</button>
                  </div>
                </div>
              <!-- </div>
            </div> -->
            <div class="container-fluid topPadding">
      <div *ngFor="let config of channelConfigurations;let i = index">
        <div class="row">
            <div class="col-md-2">
                <label>{{i+1}}</label>
    
              </div>
          <div class="col-md-6">
            <label>{{config.Key}}</label>

          </div>
          <div class="col-md-3">
            <mat-icon aria-label="Delete" (click)="deleteKey(config)">delete</mat-icon>
          </div>
        </div>
      </div>
    </div>
      <!-- <div class="row">
        <div class="col-md-5">
            <input matInput placeholder="Key" >
          </div>
          <div class="col-md-2">
              <button mat-raised-button color="warn">Add</button>
            </div>
      </div> -->
    </div>
  </div>
</mat-dialog-content>
<!-- <mat-dialog-actions> -->
  <!-- <button mat-button mat-dialog-close>No</button> -->
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <!-- <button mat-button [mat-dialog-close]="true">Yes</button>
</mat-dialog-actions> -->