<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Company Profile</h4>
            <p class="card-category">Complete company details</p>
          </div>
          <div class="card-body">
            <form [formGroup]="accountDetails" (ngSubmit)="onSubmit()">
               <div class="row">
                <div class="col-md-5">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Account name" formControlName="AccountName" type="text">
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                <mat-form-field>
                    <mat-label>Account Status</mat-label>
                    <mat-select [disabled]="!isEdit" formControlName="IsActive">
                      <mat-option  selected="selected" [value]="true">
                        Active
                      </mat-option>
                      <mat-option [value]="false">
                          In-Active
                        </mat-option>
                    </mat-select>
                  </mat-form-field>
                  </div>
              </div>

              
              <button mat-raised-button type="submit" class="btn btn-danger pull-right">Save Details</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    
    </div>
  </div>
</div>
