<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Client Profile</h4>
            <p class="card-category">Complete client profile</p>
          </div>
          <div class="card-body">
            <form [formGroup]="clientDetails" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-5">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Client name" formControlName="ClientName" type="text">
                    <mat-error *ngIf="clientDetails.get('ClientName').invalid">{{getErrorMessage('ClientName')}}</mat-error>

                  </mat-form-field>
                </div>
                <div class="col-md-5">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Client Email" formControlName="ClientEmail" type="text">
                    <mat-error *ngIf="clientDetails.get('ClientEmail').invalid">{{getErrorMessage('ClientEmail')}}</mat-error>

                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Client Designation" formControlName="Designation" type="text">
                    <mat-error *ngIf="clientDetails.get('Designation').invalid">{{getErrorMessage('Designation')}}</mat-error>

                  </mat-form-field>
                </div>
                <div class="col-md-5">
                  <mat-form-field>
                    <mat-label>Account</mat-label>
                    <mat-select  formControlName="AccountId">
                      <mat-option  [value]="account.AccountId" *ngFor="let account of accounts" >
                        {{account.AccountName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-5">
                      <mat-form-field>
                        <mat-label>Influence</mat-label>
                        <mat-select  formControlName="Influence">
                          <mat-option  [value]="influenceObj.Value" *ngFor="let influenceObj of influence" >
                            {{influenceObj.Title}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="clientDetails.get('Influence').invalid">{{getErrorMessage('Influence')}}</mat-error>

                      </mat-form-field>
                    </div>
                <div class="col-md-5">
                  <mat-checkbox formControlName="AllowMonitoring">Allow monitoring?</mat-checkbox>
                </div>
                
              </div>
              <div class="row">
              <div class="col-md-3">
                <mat-form-field>
                  <mat-label>Client Status</mat-label>
                  <mat-select [disabled]="!isEdit" formControlName="IsActive">
                    <mat-option selected="selected" [value]="true">
                      Active
                    </mat-option>
                    <mat-option [value]="false">
                      In-Active
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
          </div>


          <button mat-raised-button type="submit" [disabled]="!clientDetails.valid" class="btn btn-danger pull-right">Save Details</button>
          <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
</div>